src/main/xsl_import_schema/info_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="info">
       <xs:complexType>
	      <xs:sequence> 
		     <xs:element name="a" maxOccurs="unbounded">
			    <xs:complexType>
				   <xs:simpleContent>
				     <xs:extension base="xs:string">
					    <xs:attribute ref="val"/>
					 </xs:extension>
				   </xs:simpleContent>
				</xs:complexType>
			 </xs:element>
		  </xs:sequence>
	   </xs:complexType>
   </xs:element>
   
   <xs:attribute name="val" type="xs:integer"/>

</xs:schema>