src/test/resources/xsl_import_schema/info_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="info">
       <xs:complexType>
	      <xs:sequence> 
		     <xs:element name="a" type="aType" maxOccurs="unbounded"/>
		  </xs:sequence>
	   </xs:complexType>
   </xs:element>
   
   <xs:simpleType name="aType">
      <xs:union memberTypes="xs:integer xs:date"/>
   </xs:simpleType>

</xs:schema>