tests/xsl_import_schema/info_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="info">
       <xs:complexType>
	      <xs:sequence> 
		     <xs:element name="a" maxOccurs="unbounded">
			    <xs:complexType>
				   <xs:simpleContent>
				      <xs:extension base="xs:string">
					     <xs:attribute name="val" type="attrType"/>
					  </xs:extension>
				   </xs:simpleContent>
				</xs:complexType>
			 </xs:element>
		  </xs:sequence>
	   </xs:complexType>
   </xs:element>
   
   <xs:simpleType name="attrType">
      <xs:union memberTypes="xs:integer xs:date"/>
   </xs:simpleType>

</xs:schema>